##
## Pattern Broadcast beginning
##
## Batch Job definition (pattern argument)
##
#set( $batch_name = $fragment_element_label_business_logic_broadcast_account_batch )
#set( $lookup_entities = $fragment_container_batchstep_lookup_account_sfdc )
#set( $upsert_entities = $fragment_container_batchstep_sfdc_upsert_accounts_in_b_step )
#set( $on_complete = $fragment_processors_processorgroup_broadcast_on_complete )
#set( $batch_job = "#evaluate( $fragment_container_batchjob_broadcast )" )
##
#evaluate( $fragment_pattern_broadcast_business_logic )